@import 'buttons';
@import 'colors';

//Global Settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font-family-stack: Arial, Helvetica;

.herospace {
    height: 800px;
    background-color: lightblue;
    color: white;

    p {
        color: set-text-color($dkfont-color);
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
    
        ul {
            display: flex;
            list-style-type: none;
        }
        li {
            text-transform: uppercase;
            padding: 10px;
        }
        a {
            color: set-text-color($dkfont-color);
        }
    }
    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        font-size: 1.5rem;
        
    }
    h1 {
        font-size: 50px;
    }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    transform: rotate(20deg);
    display: flex;
    justify-content: center;
    padding-top:10%;
}

.card-parent {
    max-width: 100%;
    display: flex;
}

.card-1 {
    padding: 5%;
    border: solid 1px gray;
    display: flex;
    
}

.card-2 {
    padding: 5%;
    border: solid 1px gray;
    display: flex;
    
}

.card-3 {
    padding: 5%;
    border: solid 1px gray;
    display: flex;
}